html, body {
    font-family: Georgia;
    font-kerning: auto;
    letter-spacing: .09em;
    padding: 0%;
    margin: 0%;
    font-variant-ligatures: none;
    overflow: hidden;
    color: #23363A;
  }
h1, h2, h3, h5, h6 {
    margin: 0%;
  }
h1 {
    font-weight: 700;
    padding-bottom: 2%;
    font-size: 2.65em;
  }
h2 {
    font-size: 1em;
  }
h3 {
    font-weight: 100;
  }
h4 {
    margin: 2%;
    font-size: .77em;
  }
h5 {
    font-weight: 700;
    font-size: .55em;
    margin-top: 1.5%;
  }
h6 {
  font-size: .85em;
  color: white;
  font-weight: 300;
  }
.column1 {

    position: fixed;
    float: left;
    width: 30%;
    height: 800px;
    padding-left: 3.4%;
    padding-right: .6%;
    padding-top: 3.7%;
    padding-bottom: .3%;
    text-align:left;
    overflow: hidden;
  }
.LogInID {
    margin-top: 1.1%;
  }
.column2 {
    width: 66%;
    float: right;
  }
img {
    height: 100%;
  }
.Product, .Log {
    height: 8.5%;
    width: 7.4%;
    padding-top: 3%;
    margin: 0%;
    position: absolute;
    background-color: white;
    text-align:center;
  }
.Product {
      bottom: 0%;
      right: 7.6%;
  }
.Log {
      bottom: 14%;
      right: 0%;
  }
.PasswordMessage {
      margin-top: 10%;
      content: normal;
      height: 8%;
      width: 56%;
  }
.Boxes {
    height: 2%;
    margin-bottom: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    background-color: #23363A;
    width: 56%;
  }
  .ChangePassword, .ChangePassword_Root, .ProductsHeader {
    margin-bottom: 0%;
    font-size: 1.65em;
    height: 3.7%;
    width: 100%;
  }
.ChangePassword{
    margin-top: 20%;
  }
.ChangePassword_Root {
  margin-top: 15%;
  }
.ProductsHeader {
    margin-top: 7%;
  }
.ManageAccounts, .MasterAccounts, .MasterAccounts_Root {
    font-size: 1.65em;
    height: 3.7%;
    width: 100%;
  }
.ManageAccounts, .MasterAccounts, {
  margin-top: 20%;
}
.MasterAccounts_Root {
  margin-top: 5%;
  }
.usernames {
    margin-top: 1%;
    height: 40%;
  }
.UserDelete {
    height: 15%;
      overflow: scroll;
  }
.CustomerAccounts {
    margin-top: 7%;
  }
