<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>sqldeveloper.sh/</string>
	<key>CFBundleIconFile</key>
	<string>SQLDeveloperIcons</string>
	<key>CFBundleIdentifier</key>
	<string>com.oracle.SQLDeveloper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>SQLDev</string>
	<key>CFBundleVersion</key>
	<string>24.3.1.347</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>exec</key>
	<string>blah</string>
    <key>NSHighResolutionCapable</key>
    <true/>

        <key>NSDesktopFolderUsageDescription</key>
        <string>Oracle SQL Developer requests access to the user's Desktop folder.</string>

        <key>NSDocumentsFolderUsageDescription</key>
        <string>Oracle SQL Developer requests access to the user's Documents folder.</string>

        <key>NSDownloadsFolderUsageDescription</key>
        <string>Oracle SQL Developer requests access to the user's Downloads folder.</string>

        <key>NSNetworkVolumesUsageDescription</key>
        <string>Oracle SQL Developer requests access to files on a network volume.</string>

        <key>NSRemovableVolumesUsageDescription</key>
        <string>Oracle SQL Developer requests access to files on a removable volume.</string>

</dict>
</plist>
